*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color:  #2e3947;
    color: rgb(13, 27, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}  
.logo{
    width: 30%;
}
.listaitem{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}